.profile
    max-width 800px
    margin-right auto
    margin-left auto
        
    .panel-footer
        text-align right
        
    ul.nav
        height 42px
        margin-bottom 10px
        
    .logout 
        text-align right
        
    .mailinfo
        margin-bottom 10px