.profile(data-bind='with: profile, visible: profile.visible')
    .page-header
        h1 Log In
    form(action='/auth', method='post')
        input.form-control(type='text', name='email', placeholder='Email', data-bind='value: email')
        input.form-control(type='password', name='password', placeholder='Password', data-bind='value: password')

        .button-box
            button.btn.btn-primary.btn(type='submit')
                | Log In
