.profile(data-bind='with: profile, visible: profile.visible')
    .page-header
        h1
            span(data-bind='text: $root.user.name')
            | &nbsp;&nbsp;
            small(data-bind='text: $root.user.rank')

    form(method='post', action='logout')
        button.btn.btn-primary.btn-lg(type='submit') Logout

