.search(data-bind='with: search, visible: search.visible')
    .page-header
        h1 Bottom Line&nbsp;&nbsp;
            small Visual Search Engine

    h5 Start typing for a list of objects in the system, or click the camera to upload your own image and see what we find
    form(action='/upload', method='post' enctype='multipart/form-data')
        .input-group.input-group-lg
            input#searchBox.form-control(type='file', placeholder='Type for suggestions', name='image')
            span.input-group-btn
                button#searchButton.btn.btn-primary(type='submit')
                    span.glyphicon.glyphicon-camera
