.search(data-bind='with: search, visible: search.visible')
    .page-header
        h1 Bottom Line&nbsp;&nbsp;
            small Visual Search Engine

    h5 Start typing for a list of objects in the system, or click the camera to upload your own image and see what we find
    .input-group
        input#searchBox.form-control(type='text' placeholder='Type for suggestions')
        span.input-group-btn
            button#searchButton.btn.btn-default(type='button')
                span.glyphicon.glyphicon-camera
