.newobject(data-bind='with: newobject, visible: newobject.visible')
    .page-header
        h1 Add Object &nbsp;&nbsp;
            small Recognize Even More
    .objectnamearea
        h5 Upload positive and negative images to teach Bottom Line what a new object looks like.
        input.form-control(type='text' placeholder='Object name')
    .col-md-6
        .panel.panel-primary
            .panel-heading
                h3.panel-title
                    span.glyphicon.glyphicon-plus
                    | &nbsp;&nbsp;Positive Images
                    br
                    small These images show what your object looks like
            .panel-body
            .panel-footer
                | Drag and drop images or
                button.btn.btn-default(type='button') Browse
    .col-md-6
        .panel.panel-primary
            .panel-heading
                h3.panel-title
                    span.glyphicon.glyphicon-minus
                    | &nbsp;&nbsp;Negative Images
                    br
                    small
                        | These images show what your object
                        strong &nbsp;doesn't&nbsp;
                        | look like
            .panel-body
            .panel-footer
                | Drag and drop images or
                button.btn.btn-default(type='button') Browse

    .start-button
        button.btn.btn-primary.btn-lg(type='button')
            | Start Learning
