.newobject
    width 800px
    margin-right auto
    margin-left auto
    
    .objectnamearea
        margin-bottom 10px
        
    .panel
        height 600px
        overflow-y auto
        overflow-x hidden
        
    .start-button
        float right
        
    .panel-footer
        text-align right
        position absolute
        bottom 0px
        width 100%
        
    .panel
        position relative
    
    .col-md-6
        padding-left 3px
        padding-right 3px
        
    .panel-primary small
        color: white
        font-size 10pt