.newobject
    width 800px
    margin-right auto
    margin-left auto
    
    .objectnamearea
        margin-bottom 10px
        
    .panel
        height 400px
        overflow-y auto
        overflow-x hidden
        
    .start-button
        float right
        
    .panel-footer
        text-align right
        position absolute
        bottom 0px
        width 100%
        
    .panel
        position relative