.navbar(data-bind='with: navbar, visible: navbar.visible')
    div.list-group
        a#search.list-group-item
            span.glyphicon.glyphicon-search
            | Search
        a#add.list-group-item
            span.glyphicon.glyphicon-floppy-open
            | Add
        a#browse.list-group-item
            span.glyphicon.glyphicon-th
            | Browse
        a#profile.list-group-item
            span.glyphicon.glyphicon-user
            | Profile
