.navbar(data-bind='with: navbar, visible: navbar.visible')
    ul.nav.nav-pills.nav-stacked
        li#search
            a
                span.glyphicon.glyphicon-search
                | Search
        li#browse
            a
                span.glyphicon.glyphicon-th
                | Browse
        li#profile
            a
                span.glyphicon.glyphicon-user
                | Log In
