doctype html
head
    script(src='script/require.js' data-main='script/bottomline')
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
body
    include components/search/search
